/* -----------------------PARTIE DE LOLA-------------------------- */

.page-lola body{
    margin:0;
    padding:0;
    background: linear-gradient(to bottom right,#f0f4ff, #e8faff);
    color: black;
    align-content: center;
}

.page-lola h1{
    text-align: center;
    text-transform: uppercase;
    color:#2a4d69;
}

.page-lola h3 a{
    color:#2a4d69;
    padding:8px 16px;
    background-color: #a9d6e5;
    border-radius: 20px;
    margin:20px;
}

.page-lola .presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: white;
    border-radius:20px ;
    margin: 30px;
    max-width: 800px;
    padding: 30px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.page-lola .imgLola{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: 4px solid #2a4d69;
}

.page-lola h2{
    text-align: center;
    color: #2a4d69;
}

.page-lola ul{
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

.page-lola ul li{
    padding-left: 6px 0;
}

.page-lola a{
    color:#2a4d69;
}

.page-lola .tableau{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
    text-align: center;
    max-width: 1000px;
    margin: 40px auto;
}

.page-lola .tableau > div{ 
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    padding: 20px ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.page-lola .tableau h4{
    color: #2a4d69;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.page-lola p{
    max-width: 800px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

/* -----------------------PARTIE DE MAHE-------------------------- */


.page-mahe .RETOUR {
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    background-color: black;
    transition: 0.3s;
}

.page-mahe .RETOUR:hover {
    color: #f1c40f;
}

.page-mahe nav {
    background-color: #000000;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 30px;
}

.page-mahe nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.page-mahe ul li {
    margin: 10px 15px;
}

.page-mahe ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.page-mahe ul li a:hover {
    color: #f1c40f;
}

.page-mahe h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}



.page-mahe section {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: burlywood;
    border: 3px solid burlywood;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.page-mahe section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
.page-mahe .Description_Mahe,
.page-mahe .Activités_Mahe,
.page-mahe .Expériences_Mahe,
.page-mahe .Passion_Mahe,
.page-mahe .Qualités_Mahe,
.page-mahe .Contact_Mahe {
    display: block; 
    margin: 20px auto;
    padding: 20px;
    border: 2px solid burlywood;
    background-color: burlywood;
    border-radius: 30px;
    max-width: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
}

.page-mahe .Activités_Mahe:hover,
.page-mahe .Expériences_Mahe:hover,
.page-mahe .Passion_Mahe:hover,
.page-mahe .Qualités_Mahe:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* -----------------------PARTIE DE ANTHONIN-------------------------- */

.page-anthonin h1{
    background-color: rgb(2, 109, 248);
    color:white;
    padding: 10px;
}

.page-anthonin .lien {
   display: flex;
   justify-content: center;
   list-style: none;
   flex-wrap: wrap;
   gap: 20px;
}

.page-anthonin .lien a{
    display: inline-block;
    background-color: antiquewhite;
    color: rgb(0, 132, 255);
    padding: 10px;
    border-radius: 50px;
    border: solid rgb(0, 132, 255);
    text-decoration: None;
}

.lien a:visited{
    color:black;
}

.page-anthonin .lien-Activités:hover{
    color: palevioletred;
}

.page-anthonin .lien-Expériences:hover{
    color: orange;
}

.page-anthonin .lien-Passion:hover{
    color: yellow;
}

.page-anthonin .lien-Qualités:hover{
    color: purple;
}

.page-anthonin .lien-Contact:hover{
    color: cyan;
}

.page-anthonin .lien-Retour:hover{
    color: magenta;
}

li{
    margin-bottom: 10px;
}

.page-anthonin h2{
    display: inline-block;
    background-color: rgb(9, 80, 233);
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.page-anthonin .Description h2:hover{
    color: pink;
}

.page-anthonin .Activités h2:hover{
    color: palevioletred;
}

.page-anthonin .Expériences h2:hover{
    color: orange;
}

.page-anthonin .Passion h2:hover{
    color: yellow;
}

.page-anthonin .Qualités h2:hover{
    color: purple;
}

.page-anthonin .Contact h2:hover{
    color: cyan;
}

.page-anthonin .Contact{
    background-color: rgb(6, 71, 248);
    color: white;
    text-align: center;
}

.page-anthonin .Contact a{
    display: grid;
    display: inline-block;
    background-color: white;
    border: solid black;
    border-radius: 50px;
}

.page-anthonin .lien-Retour{
    display: inline-block;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 50px;
    border: solid rgb(0, 140, 255);
    color: rgb(0, 162, 255);
    text-decoration: None;
}

.page-anthonin .Contact img{
    width: 10%;
}

body.page-index{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #181717;
}

.page-index h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 5px solid grey;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.page-index a{
    background-color: bisque;
    border-radius: 50px;
    padding:20px;
    text-decoration: None;
    color: rgb(0, 0, 0);
    border:5px solid rgb(99, 99, 99);
}

.page-index a:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.432);
}

/* -----------------------PARTIE DE THEO-------------------------- */

  .Theo-body  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    color: black;
    line-height: 1.5;
    padding-top: 50px;
    transition: all 0.5s ease;
}

.retour-Theo:hover {
    transform: translate(5px);
}

.retour-Theo {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.Theo-btn-retour {
    display: inline-block;
    background-color: black;
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
}

.Theo-nav a:hover {
    color: rgb(210, 102, 8);
}

.Theo-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(103, 100, 110);
    z-index: 1000;
}

.Theo-nav ul{
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 50px;
}

.Theo-nav a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s ease;
}


.Theo-h1 {
    text-align: center;
    margin: 50px;
    color: rgb(103, 100, 110);
}

.Theo-h2 {
    color:rgb(103, 100, 110);
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(210, 102, 8);
    display: inline-block;
    padding-bottom: 5px;
}

.Theo-section, .Theo-header {
    max-width: 1000px;
    margin: 70px auto;
    background: aliceblue;
    border-radius: 12px;
    padding: 50px 50px;
    box-shadow: 0 5px 10px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Theo-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.Theo-photo {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.Theo-description-texte {
    max-width: 500px;
    text-align: justify;
    line-height: 1.5;
}

.Theo-section:hover, .Theo-header:hover{
    transform: translate(10px);
}


.Qualités-Theo {
    background-color: aliceblue;
    border-left: 6px solid rgb(210, 102, 8);
    text-align: left;
    padding: 50px 50px;
    box-shadow: 0 5px 10px black;
}

.Qualités_Theo ul {
    list-style-type: square;
    color: rgb(36, 36, 91);
}

.Contact-Theo {
    background-color: aliceblue;
    border-left: 6px solid rgb(210, 102, 8);
    text-align: center;
    padding: 50px 50px;
    box-shadow: 0 5px 10px black;
}

.Theo-link {
    color:rgb(35, 104, 147);
    text-decoration: none;
}

.Theo-span {
    color: black;
}
