/* -----------------------PARTIE DE LOLA-------------------------- */

.page-lola body{
    margin:0;
    padding:0;
    background: linear-gradient(to bottom right,#f0f4ff, #e8faff);
    color: black;
    align-content: center;
}

.page-lola h1{
    text-align: center;
    text-transform: uppercase;
    color:#2a4d69;
}

.page-lola h3 a{
    color:#2a4d69;
    padding:8px 16px;
    background-color: #a9d6e5;
    border-radius: 20px;
    margin:20px;
}

.page-lola .presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: white;
    border-radius:20px ;
    margin: 30px auto;
    max-width: 800px;
    padding: 30px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.page-lola .imgLola{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: 4px solid #2a4d69;
}

.page-lola h2{
    text-align: center;
    color: #2a4d69;
}

.page-lola ul{
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

.page-lola ul li{
    padding-left: 6px 0;
}

.page-lola a{
    color:#2a4d69;
}

.page-lola .tableau{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
    text-align: center;
    max-width: 1000px;
    margin: 40px auto;
}

.page-lola .tableau > div{ 
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    padding: 20px ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.page-lola .tableau h4{
    color: #2a4d69;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.page-lola p{
    max-width: 800px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    margin: 30px auto;
    text-align: center;
}
.page-lola .nav-lola{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:15px;
}



