.page-mahe .RETOUR{
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px;
    background-color: black;
    transition: 0.3s;
    }

.page-mahe .RETOUR:hover{
    color: #f1c40f;
}


.page-mahe nav {
    background-color: #000000;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 30px;
}

.page-mahe nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.page-mahe ul li {
    margin: 10px 15px;
}

.page-mahe ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.page-mahe ul li a:hover {
    color: #f1c40f;
}

.page-mahe h1{
    color: white;
    text-align: center;
}


.page-mahe section {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: burlywood;
    border: 3px solid burlywood;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.page-mahe section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


.page-mahe .Activités_Mahe,
.page-mahe .Expériences_Mahe,
.page-mahe .Passion_Mahe,
.page-mahe .Qualités_Mahe,
.page-mahe .Description_Mahe
.page-mahe .Contact_Mahe{
    display: block; 
    margin: 20px auto;
    padding: 20px;
    border: 2px solid burlywood;
    background-color: burlywood;
    border-radius: 30px;
    max-width: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
}

.page-mahe .Activités_Mahe:hover,
.page-mahe .Expériences_Mahe:hover,
.page-mahe .Passion_Mahe:hover,
.page-mahe .Qualités_Mahe:hover,
.page-mahe .Description_Mahe
.page-mahe .Contact_Mahe{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
